DATABASE_URL=postgresql+asyncpg://<username>:<password>@<host>:<port>/<dbname>
N8N_ADMIN_WEBHOOK_URL=https://<your-n8n-instance>/webhook/admin-command-v2
N8N_MAIN_WEBHOOK_URL=https://<your-n8n-instance>/webhook/messages
ADMIN_PASSWORD=your_admin_password
PORT=8000
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@example.com
